{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul class="list-group">
        {% for listing in listings %}
            {% if listing.winner is None %}
                <li class="list-group-item">
                    <div class="form-group" id="listings">
                        <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                        <img src={{ listing.image }} alt={{ listing.title }} height=300>
                        <ul>
                            {% if listing.bid is None %}
                                <li>Price: {{ listing.starting_bid }}</li>
                            {% else %}
                                <li>Price: {{ listing.bid.bid }}</li>
                            {% endif %}
                            <li>{{ listing.description }}</li>
                            <li>Created {{ listing.start_time }}</li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}